
    .background 
    {
    height: 100px;
    background: gray;
    text-align: center;
    align-items: center;
    
    }
    h1{color: rgb(82, 35, 35)}
    h2{color: black}
    .message
    {
        font-size: 20px;
        color: rgb(85, 31, 38)
    }
    .shop_name
    {
        font-size: 20px;
        color: black
    }
    .history
    {
        text-align: center;
         font-size: 20px;
        color: rgb(85, 31, 38)
    }
    .contact-info
    { 
        font-size: 20px;
        color: rgb(85, 31, 38)
    }
    